
<script>
    function oelo(){

        document.getElementById("new_user").reset();
    }
</script>
<div>
  <center>
  <table>
    <tr >
      <td>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                El formulario contiene <%= pluralize(@user.errors.count, "errore") %>.
              </div>
              <ul>
                <% @user.errors.full_messages.each do |error_msg| %>
                    <li>
                      <%= error_msg %>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= form_for @user do |f| %>

            <%= f.label :name, 'Nombre' %><br/>
            <%= f.text_field :name, :autocomplete => :off%>
            </td>
            </tr>
            <tr>
              <td>
                <%= f.label :email, 'Email' %><br/>
                <%= f.text_field :email, :autocomplete => :off%>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :content, 'Mensaje' %><br/>
                <%= f.text_area :content, :rows => 8, :cols => 60%>
              </td>
            </tr>
            <tr>
              <div class="limpiarB">
                <td><%= f.label  'Limpiar', :class => "btn", :onclick => "oelo()" %>
              </div>
                <%= f.submit  'Aceptar', :class => "btn btn-primary" %>
              </td>
            </tr>
        <% end %>
        </table>
  </center>
</div>